# Ignore everything
/*

# Except...
!.gitignore
!.vimrc
!.zshrc
!.Xresources
!.xinitrc
!README.md
!/vim
!/.vim
/.vim/*
!/.vim/colors
!/.config
/.config/*
!/.config/i3
!/.config/compton.conf
!/.config/polybar
!/.config/rofi
!/.config/plasma-workspace
!/xorg.conf.d
!/.themes
!/.fonts
!/.urxvt
!setup.sh
