# Ignore everything
/*

# Except...
!.gitignore
!.vimrc
!.zshrc
!.Xresources
!README.md
!/vim
!/.vim
/.vim/*
!/.vim/colors
!/.config
/.config/*
!/.config/i3
!/.config/compton.conf
!/.config/polybar
!/xorg.conf.d
!/.themes
