URxvt*font: xft:Fira Code::size=11:antialias=true,xft:Dejavu Sans Mono:size=11
URxvt*scrollBar: False
URxvt*background: #272C34
URxvt*depth: 32
URxvt*foreground: white
URxvt.perl-ext-common:  default,matcher,selection-to-clipboard,font-size
URxvt.urlLauncher:      firefox
URxvt.matcher.button:   3

*color0: #272C34
*color1: #B65177
*color2: #B1C97E
*color3: #E5C07B
*color4: #61AFEF
*color5: #A086C3
*color6: #56B6C2
*color7: #EFF1F5
*color8: #272C34
*color9: #BE5046
*color10: #B1C97E
*color11: #D19A65
*color12: #61AFEF
*color13: #A086C3
*color14: #56B6C2
*color15: #5C6370
