/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
@define-color bg rgba(46,52,64,0.5);
/*@define-color bg #353C4A;*/
@define-color light #D8DEE9;
/*@define-color dark @nord_dark_font;*/
@define-color warning #ebcb8b;
@define-color critical #BF616A;
@define-color mode #434C5E;
@define-color workspacesfocused rgba(255,255,255,.3);
@define-color tray @workspacesfocused;
@define-color sound #EBCB8B;
@define-color network #5D7096;
@define-color memory #546484;
@define-color cpu #596A8D;
@define-color temp #4D5C78;
@define-color layout #5e81ac;
@define-color date #434C5E;
@define-color time #434C5E;
@define-color backlight #434C5E;
@define-color nord_bg #434C5E;
@define-color nord_bg_blue #546484;
@define-color nord_light #D8DEE9;
@define-color nord_light_font #D8DEE9;
@define-color nord_dark_font #434C5E;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 40px;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: "Cantarell", "Font Awesome 5 Pro";
    font-size: 13px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#bluetooth,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#language,
#idle_inhibitor,
#custom-power_profile {
    padding-left: 1.4em;
}
#battery, #network, #bluetooth, #idle_inhibitor, #custom-power_profile {
    font-size: 16px;
}
/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
    color: @light;
    background: @mode;
}

/* Workspaces stuff */
#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0 0.6em;
    color: #FFF;
    /*color: #999;*/
    opacity: 0.6;
    background: none;
    font-size: 1em;
}

#workspaces button.active {
    background: @workspacesfocused;
    opacity: 1;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
    opacity: 1;
}


#cpu {
    color: #D8DEE9;
}
#cpu.critical {
    color: @nord_dark_font;
}
#language {
    color: #D8DEE9;
}
#custom-cpugovernor {
    color: @nord_dark_font;
}
#temperature {
    color: #D8DEE9;
}
#clock {
    margin-right: 1em;
    color: #D8DEE9;
}
#pulseaudio { /* Unsused but kept for those who needs it */
    color: #D8DEE9;
}

#pulseaudio.muted {
    color: #FFF;
}
#pulseaudio.source-muted {
    color: #D8DEE9;
}
.ico-big {
    font-size: 18px;
}
@keyframes blink-warning {
    70% {
        color: @warning;
    }

    to {
        color: @light;
    }
}

@keyframes blink-critical {
    70% {
      color: @critical;
    }

    to {
        color: @light;
    }
}


